/*** textes ***/

blockquote{
    border-width:0 0 0 3px;
    padding-left:15px;
    margin:15px 0;
    border-color:#ddd;
    color:#999;
    border-style:solid;
    font-style: italic;
}

blockquote.example{
    font-size:16px;
}

textarea{
    resize:none;
}

.pointer{
    cursor:pointer;
}


/*** elements form elections ***/
.indexNumber{
    width:40px;
    display:inline-block;
    text-align:center;
}


ul.sortable,li.sortable{
    padding:0;
    margin:0;
    list-style-type: none;
}

.sortable .input-group-prepend{
    cursor: move;
}

.sortabe-colored-disc{
  color:#ffffff;
    height:26px;
    width:26px;
    line-height:26px;
    text-align:center;
    padding:0;
    margin:5px 5px;
    border-radius: 30px;
}


/*** form signin ***/

.form-short {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-short .checkbox {
    font-weight: 400;
}
.form-short .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-short .form-control:focus {
    z-index: 2;
}
.form-short input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-short input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}